<!DOCTYPE html>
<html>
<head>
	<title>Three Eyed Ravens</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css">
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
<link rel="stylesheet" type="text/css" href="css/character.css">

<body>

	<!-- modals tags -->
	<div id="modal-full" class="uk-modal-full" uk-modal>
		<div class="uk-modal-dialog">
			<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
			<div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
				<div class="uk-background-cover" style="background-image: url('https://cdn.vox-cdn.com/thumbor/vCRiW3ur2caDLCpbqX4biy2fiwI=/0x0:1920x1080/1200x800/filters:focal(605x350:911x656)/cdn.vox-cdn.com/uploads/chorus_image/image/59533881/keepstar.0.jpg');" uk-height-viewport></div>
				<div class="uk-padding-large">
					<h1 class="uk-text-center">ADD TAGS</h1>
					<form>
						<fieldset class="uk-fieldset">	
							<legend class="uk-legend">Tags name</legend>
							<div class="uk-margin">
								<% if (4 <= user.role) { %>
								<input id="tagname" class="uk-input" type="text" placeholder="Name">
								<% } else { %>
								<select id="tagname" class="uk-select">
									<option value="BLACKLIST">BLACKLIST</option>
									<option value="BLACKLIST">AWOXER</option>
									<option value="DRAMA QUEEN">DRAMA QUEEN</option>
									<option value="SPY">SPY</option>
									<option value="VIP">VIP</option>
									<option value="SCOUT">SCOUT</option>
									<option value="FRIENDLY">FRIENDLY</option>
									<option value="LINK TO BE CONFIRMED">LINK TO BE CONFIRMED</option>
									<option value="CORP THIEF">CORP THIEF</option>
									<option value="KRABBER">KRABBER</option>
									<option value="SOLD ACCOUNT">SOLD ACCOUNT</option>
									<option value="BLACKLIST">BLACKLIST</option>
								</select>
								<% } %>		
							</div>
							<legend class="uk-legend">Characters</legend>
							<div class="uk-margin">
								<select id="tagfor" class="uk-select">
									<option value="<%= char.db._id %>"><%= char.db.name %></option>
									<% if (char.db.alts != null) { %>
									<% for(var i=0; i<char.db.alts.alts.length; i++) { %>
									<% if (char.db.alts.alts[i].id != char.db.id) { %>
									<option value="<%= char.db.alts.alts[i]._id %>"><%= char.db.alts.alts[i].name %></option>
									<% } %>
									<% } %>
									<% } %>
								</select>
							</div>
							<legend class="uk-legend">Visibility</legend>
							<div class="uk-margin">
								<select id="tagvisi" class="uk-select">
									<option value="1">Public</option>
									<% if (2 <= user.role) { -%>
									<option value="2">Private</option>
									<% } if (3 <= user.role) { %>
									<option value="3">Secret</option>
									<% } if (4 <= user.role) { %>
									<option value="4">Top Secret</option>
									<% } if (5 <= user.role) { %>
									<option value="5">Extremely Secret</option>
									<% } %>
								</select>
							</div>
						</fieldset>
					</form>
					<a class="uk-button uk-button-default uk-width-1-1" onclick="addTag();">Submit</a>
					<div id="errortag" class="uk-alert-danger" style="display: none;" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>Damn, it's a bug. quickly contact the administrator</p>
					</div>
					<div id="missingtag" class="uk-alert-warning" style="display: none;" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>hey dude, fill the fields</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end -->

	<!-- modals alts -->
	<div id="modal-alt" class="uk-modal-full" uk-modal>
		<div class="uk-modal-dialog">
			<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
			<div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
				<div class="uk-background-cover" style="background-image: url('https://webimg.ccpgamescdn.com/kvd74o0q2fjg/3ydmvxylnW4kQ6YWE6iwc0/bdd2976aba130fa1b392c8da31e17961/Capsuleer_Day_1920x1080.jpg');" uk-height-viewport></div>
				<div id='charauto' class="uk-padding-large">
					<h1 class="uk-text-center">LINK A CHARACTER</h1>
					<form>
						<fieldset class="uk-fieldset">	
							<legend class="uk-legend">Character</legend>
							<div class="uk-margin">
								<div  class="uk-inline uk-width-1-1">
									<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
									<input id="auto" class="uk-input uk-form-large" autocomplete="on"  placeholder="Character name" type="search">
									<ul></ul>
									<input id="cid" style=" display: none;" type=" text" name="id">
								</div>
							</div>
						</fieldset>
					</form>
					<a class="uk-button uk-button-default uk-width-1-1" onclick="addLink();">Submit</a>
					<div id="errorlink" class="uk-alert-danger" style="display: none;" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>Damn, it's a bug. quickly contact the administrator</p>
					</div>
					<div id="missinglink" class="uk-alert-warning" style="display: none;" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>hey dude, this alt already belongs to someone</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end -->

	<!-- modals tags -->
	<div id="modal-intel" class="uk-modal-full" uk-modal>
		<div class="uk-modal-dialog">
			<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
			<div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
				<div class="uk-background-cover" style="background-image: url('https://www.verite.space/maps/influence/influence.png');" uk-height-viewport></div>
				<div class="uk-padding-large padding-modif">
					<h1 class="uk-text-center">ADD INTEL</h1>
					<form>
						<fieldset class="uk-fieldset">
							<legend class="uk-legend">Characters</legend>
							<div class="uk-margin">
								<select id="intelfor" class="uk-select">
									<option value="<%= char.db._id %>"><%= char.db.name %></option>
									<% if (char.db.alts != null) { %>
									<% for(var i=0; i<char.db.alts.alts.length; i++) { %>
									<% if (char.db.alts.alts[i].id != char.db.id) { %>
									<option value="<%= char.db.alts.alts[i]._id %>"><%= char.db.alts.alts[i].name %></option>
									<% } %>
									<% } %>
									<% } %>
								</select>
							</div>
						<legend class="uk-legend">Type</legend>
						<div class="uk-margin">
							<select id="inteltype" class="uk-select">
								<option value="Confirmed">Confirmed</option>
								<option value="Suspicion">Suspicion</option>
								<option value="Cleared">Cleared</option>
								<option value="Char SOLD">Char SOLD</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<legend class="uk-legend">Action</legend>
						<div class="uk-margin">
							<input id="actionintel" class="uk-input" type="text" placeholder="Action name">
						</div>
						<legend class="uk-legend">Links</legend>
						<div class="uk-margin">
							<input id="linkintel" class="uk-input" type="text" placeholder="link;otherlink;other...">
						</div>
						<legend class="uk-legend">Visibility</legend>
						<div class="uk-margin">
							<select id="intelvisi" class="uk-select">
								<option value="1">Public</option>
								<% if (2 <= user.role) { -%>
								<option value="2">Private</option>
								<% } if (3 <= user.role) { %>
								<option value="3">Secret</option>
								<% } if (4 <= user.role) { %>
								<option value="4">Top Secret</option>
								<% } if (5 <= user.role) { %>
								<option value="5">Extremely Secret</option>
								<% } %>
							</select>
						</div>
						<legend class="uk-legend">Comment</legend>
						<div class="uk-margin">
							<textarea id='intelcomment' class="uk-textarea"></textarea>
						</div>
					</fieldset>
				</form>
				<a class="uk-button uk-button-default uk-width-1-1" onclick="addIntel();">Submit</a>
				<div id="errorintel" class="uk-alert-danger" style="display: none;" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>Damn, it's a bug. quickly contact the administrator</p>
				</div>
				<div id="missingintel" class="uk-alert-warning" style="display: none;" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>hey dude, fill the fields</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end -->

<header id="top-head" class="uk-position-fixed">
	<div class="uk-container uk-container-expand uk-background-secondary">
		<nav class="uk-navbar uk-light" data-uk-navbar="mode:click">
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="/">Three Eyed Ravens</a>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li>
						<a href="#" data-uk-icon="icon:user"><%= user.name %><div style="width: 1em"></div></a>
						<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/Logout"><span data-uk-icon="icon: sign-out"></span> Logout</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/members" data-uk-icon="icon: cog">Members access<div style="width: 1em"></div></a></li>
					<% if (5 <= user.role) { %>
					<li><a href="/logs" data-uk-icon="icon: history">Logs<div style="width: 1em"></div></a></li>
					<% } %>
				</ul>
			</div>
		</nav>
	</div>
</header>

<aside id="left-col" class="uk-light uk-visible@m">
	<div class="profile-bar">
		<div class="uk-grid uk-grid-small uk-flex uk-flex-middle" data-uk-grid>
			<div class="uk-width-auto"><img src="http://imageserver.eveonline.com/Character/<%= char.db.id %>_512.jpg" alt="" class="uk-border-circle profile-img"></div>
			<div class="uk-width-expand">
				<h4 class="uk-margin-remove-vertical text-light"><%= char.db.name %></h4>
			</div>
		</div>
	</div>

	<div class="bar-content uk-position-relative">
		<ul class="uk-nav-default" data-uk-nav>
			<li class="uk-nav-header">Character</li>
			<li class="uk-parent">
				<span>Sec. Status : <%= char.basic.security_status %></span>
			</li>
			<li class="uk-parent">
				<span>Birthday : <%- moment(char.basic.birthday).format('LL') %></span>
			</li>
			<li class="uk-parent">
				<span>Corporation : 
					<corp id='corpname'>Loading..</corp>
				</span>
			</li>
			<% if (char.basic.alliance_id) { %>
			<li class="uk-parent">
				<span>Alliance : 
					<alli id='alliname'>Loading</alli>
				</span>
			</li>
			<% } %>
			<br>
			<li class="uk-nav-divider"></li>
			<% if (char.db.tags.length != 0) { %>
			<li class="uk-nav-header">TAGS</li>
			<% for(var y=0; y<char.db.tags.length; y++) { %>
			<li class="uk-parent">
				<% if (char.db.tags[y].visibility <= user.role) { -%>
				<span class="uk-label"  uk-tooltip="title: <%= char.db.tags[y].from.name %>#<%= visi[char.db.tags[y].visibility] %>"><%= char.db.tags[y].name %>
					<% if (char.db.tags[y].visibility < user.role || user.role >= 5) { -%>
					<a href="#"><span style="color:black" data-uk-icon="icon: close" data-id="<%= char.db.tags[y]._id %>" data-cid="<%= char.db._id %>" onclick="rmtag(this);"></a>
						<% }-%>
					</span>
					<% } else { -%>
					<span class="uk-label" uk-tooltip="title: <%= char.db.tags[y].from.name %>#<%= visi[char.db.tags[y].visibility] %>">Confidential</span>
					<% } -%>	
				</li>
				<% } %>
				<% } %>

				<li class="uk-nav-header">LINKS</li>
				<li><a href="https://evewho.com/pilot/<%= char.db.name %>"><span class="uk-margin-small-right" data-uk-icon="icon: info"></span> evewho</a></li>
				<li><a href="https://zkillboard.com/character/<%= char.db.id %>"><span class="uk-margin-small-right" data-uk-icon="icon: bolt"></span> zKillboard</a></li>
			</ul>
		</div>
	</aside>
	<!-- /LEFT BAR -->

	<div id="content" data-uk-height-viewport="expand: true">
		<div class="uk-container uk-container-expand">
			<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-1 uk-child-width-1-1@l uk-child-width-1-1@xl" data-uk-grid>
				<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
					<div class="uk-card uk-card-default uk-card-small">
						<div class="uk-card-body">
							<p uk-margin class="uk-text-center">
								<button class="uk-button uk-button-secondary" href="#modal-full" uk-toggle>add a tags</button>
								<button class="uk-button uk-button-primary" href="#modal-alt" uk-toggle>link a character</button>
								<button class="uk-button uk-button-danger" href="#modal-intel" uk-toggle>new intel</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="uk-divider-icon">
			<div class="uk-grid uk-grid-medium
			uk-grid-match"  data-uk-grid>
			


			<!-- /panel -->

			<!-- modal lien -->
			<div id="modal-center" class="uk-flex-top" uk-modal>
				<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
					<button class="uk-modal-close-default" type="button" uk-close></button>
					<ul id="liens">
					</ul>
				</div>
			</div>

			<div class=" uk-width-2-1@l uk-width-1-1@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4 class="uk-margin-remove-bottom">Intel</h4></div>
							<div class="uk-width-expand uk-text-right">
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="uk-overflow-auto">
							<table class="uk-table uk-table-hover uk-table-divider uk-table-middle">
								<thead>
									<tr>
										<th>On</th>
										<th>Type</th>
										<th>Action</th>
										<th>Comment</th>
										<th>From</th>
										<th>Visibility</th>
										<th>Date</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

									<!-- intel du personnage -->
									<% for(var y=0; y<char.db.intels.length; y++) { %>
									<tr>
										<% if (char.db.intels[y].visibility <= user.role) { -%>
										<td><%= char.db.name %></td>
										<td><%= char.db.intels[y].type %></td>
										<td><%= char.db.intels[y].action %></td>
										<td><%= char.db.intels[y].comment %></td>
										<td><%= char.db.intels[y].from.name %></td>
										<td><%= visi[char.db.intels[y].visibility] %></td>
										<td><%- moment(char.db.intels[y].date).format('LL') %></td>
										<td>
											<a class="uk-icon-link uk-text-primary" onclick="liens(<%= JSON.stringify(char.db.intels[y].links) %>)" data-uk-icon="link"></a>
											<% if (char.db.intels[y].visibility < user.role || user.role >= 5) { -%>
											<a class="uk-icon-link uk-text-danger" onclick="rmintel(this)" data-uk-icon="close" data-id="<%= char.db.intels[y]._id %>" data-cid="<%= char.db._id %>"></a>
											<% } %>
										</td>
										<% } else { %>
										<td>Confidential</td>
										<td>Confidential</td>
										<td>Confidential</td>
										<td>Redacted</td>
										<td><%= char.db.intels[y].from.name %></td>
										<td><%= visi[char.db.intels[y].visibility] %></td>
										<td><%= char.db.intels[y].date %></td>
										<td>
										</td>
										<% } %>
									</tr>
									<% } %>
									<!-- intel des alts (on enleve l'intel du perso principal on est obliger de faire x2 car si il a pas du tout d'alt voila) -->
									<% if (char.db.alts != null) { %>
									<% for(var i=0; i<char.db.alts.alts.length; i++) { %>
									<% if (char.db.alts.alts[i].id != char.db.id) { %>
									<% for(var x=0; x<char.db.alts.alts[i].intels.length; x++) { %>
									<tr>
										<% if (char.db.alts.alts[i].intels[x].visibility <= user.role) { -%>
										<td><%= char.db.alts.alts[i].name %></td>
										<td><%= char.db.alts.alts[i].intels[x].type %></td>
										<td><%= char.db.alts.alts[i].intels[x].action %></td>
										<td><%= char.db.alts.alts[i].intels[x].comment %></td>
										<td><%= char.db.alts.alts[i].intels[x].from.name %></td>
										<td><%= visi[char.db.alts.alts[i].intels[x].visibility] %></td>
										<td><%= char.db.alts.alts[i].intels[x].date %></td>
										<td>
											<a class="uk-icon-link uk-text-primary" onclick="liens(<%= JSON.stringify(char.db.alts.alts[i].intels[x].links) %>)"  data-uk-icon="link"></a>
											<% if (char.db.alts.alts[i].intels[x].visibility < user.role || user.role >= 5) { -%>
											<a class="uk-icon-link uk-text-danger" onclick="rmintel(this)" data-uk-icon="close" data-id="<%= char.db.alts.alts[i].intels[x]._id %>" data-cid="<%= char.db.alts.alts[i]._id %>"></a>
											<% } %>
										</td>
										<% } else { %>
										<td>Confidential</td>
										<td>Confidential</td>
										<td>Redacted</td>
										<td><%= char.db.alts.alts[i].intels[x].from.name %></td>
										<td><%= visi[char.db.alts.alts[i].intels[x].visibility] %></td>
										<td><%= char.db.alts.alts[i].intels[x].date %></td>
										<td>
										</td>
										<% } %>
									</tr>
									<% } %>
									<% } %>
									<% } %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<% if (char.db.alts != null) { %>
			<% for(var i=0; i<char.db.alts.alts.length; i++) { %>
			<% if (char.db.alts.alts[i].id != char.db.id) { %>
			<!-- /panel -->
			<div class="uk-width-1-2@s uk-width-1-4@l uk-width-1-4@xl">
				<div class="uk-card uk-card-default">
					<div class="uk-card-header">
						<div class="uk-grid-small uk-flex-middle" uk-grid>
							<div class="uk-width-auto">
								<img class="uk-border-circle" width="60" height="60" src="http://imageserver.eveonline.com/Character/<%= char.db.alts.alts[i].id %>_512.jpg">
							</div>
							<div class="uk-width-expand">
								<h3 class="uk-card-title uk-margin-remove-bottom"><%= char.db.alts.alts[i].name %></h3>
								<% if (5 <= user.role) { %>
								<a><span class="uk-card-badge" uk-icon="trash" data-cid="<%= char.db.alts.alts[i]._id %>" onclick="unlink(this);"></span></a>
								<% } %>
								<p class='corpalt' _id='<%= char.db.alts.alts[i].id %>' style='margin-top: 0px'></p>
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<% if (char.db.alts.alts[i].tags.length != 0) { %>
						<% for(var y=0; y<char.db.alts.alts[i].tags.length; y++) { %>
						<% if (char.db.alts.alts[i].tags[y].visibility <= user.role) { -%>
						<span class="uk-label" uk-tooltip="title: <%=char.db.alts.alts[i].tags[y].from.name %>#<%= visi[char.db.alts.alts[i].tags[y].visibility] %>"><%= char.db.alts.alts[i].tags[y].name %>
							<% if (char.db.alts.alts[i].tags[y].visibility < user.role || user.role >= 5) { -%>
							<a href="#"><span style="color:white" data-uk-icon="icon: close" data-id="<%= char.db.alts.alts[i].tags[y]._id %>" data-cid="<%= char.db.alts.alts[i]._id %>" onclick="rmtag(this);"></a>
								<% }-%>
							</span>
							<% } else { %>
							<span class="uk-label" uk-tooltip="title: <%=char.db.alts.alts[i].tags[y].from.name %>#<%= visi[char.db.alts.alts[i].tags[y].visibility]%>">Confidential</span>
							<% } %>
							<% } %>
							<% } else { %>
							<div class="uk-text-center">
								<p class="uk-text-muted">No tags for this character</p>
							</div>
							<% } %>
						</div>
						<div class="uk-card-footer uk-text-center">
							<a href="/character?id=<%= char.db.alts.alts[i].id %>" class="uk-button uk-button-default">Show</a>
						</div>
					</div>
				</div>
				<% } %>
				<% } %>
				<% } else { %>
				<div class="uk-width-expand uk-text-center">
					<h3 class="uk-text-muted">No alts for this character</h3>
				</div>
				<% } %>
			</div>
			<footer class="uk-section uk-section-small uk-text-center">
				<hr>
				<a href="https://github.com/Dracks977"  uk-tooltip="Add alliance on user list, refacto some shit, add cron for refresh user list">Version 1.1.2</a> | For Dead Coalition</span></a>
			</footer>
		</div>
	</div>
	<!-- /CONTENT -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit-icons.min.js"></script>

<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>
<script type="text/javascript">
	$('document').ready(function() {
		$.get("api/corp/" + <%= char.basic.corporation_id%>, function(data) {
			$("#corpname").html(data.name);
		});
		<% if (char.basic.alliance_id) { %>
			$.get("api/alliance/" + <%= char.basic.alliance_id%>, function(data) {
				$("#alliname").html(data.name);
			});
			<% } %>
			$('.corpalt').each(function(index) {
				let self = this
				$.get("api/char/corpname/" + $(this).attr('_id'), function(data) {
					$(self).text(data);
				});
			})
    // $( "#dateintel" ).datepicker({ dateFormat: 'mm-dd-yy' });
});



	function addTag() {
		let tag = {
			name: $('#tagname').val(),
			visibility: $('#tagvisi').val(),
			_id: '<%= user._id%>',
			id: $('#tagfor').val()
		}
		$.post("/api/tags/add", tag).done(function(data) {
			location.reload();
		}).fail(function(e) {
			if (e.status == 404)
				$("#missingtag").removeAttr("style");
			else
				$("#errortag").removeAttr("style");
		});
	}

	function addLink() {
		let link = {
			alt: $('#cid').val(),
			main: '<%= char.db._id %>',
		}
		$.post("/api/alts/link", link).done(function(data) {
			location.reload();
		}).fail(function(e) {
			if (e.status == 301)
				$("#missinglink").removeAttr("style");
			else
				$("#errorlink").removeAttr("style");
		});
	}

	function addIntel() {
		let intel = {
			links: $('#linkintel').val().split(';'),
			comment: $('#intelcomment').val(),
			action: $('#actionintel').val(),
			from: '<%= user._id %>',
			visibility: $('#intelvisi').val(),
			type: $('#inteltype').val(),
			id: $('#intelfor').val(),
			name: '<%= user.name %>'
		}

		$.post("/api/intel/add", intel).done(function(data) {
			location.reload();
		}).fail(function(e) {
			if (e.status == 404)
				$("#missingintel").removeAttr("style");
			else
				$("#errorintel").removeAttr("style");
		});

	}

	function liens(link) {
		$('#liens').empty()
		for (var i = link.length - 1; i >= 0; i--) {
			console.log(link[i])
			$('#liens').append('<a target="_blank" href=\"' + link[i] + '\">' + link[i] + '</a></br>')
		}
		UIkit.modal($('#modal-center')).show();
	}

	function unlink(_this) {
		if (window.confirm("Do you realy want to do this ?")) { 
			let a = [].filter.call(_this.attributes, function(at) {
				return /^data-/.test(at.name);
			});
			let link = {
				id: a[0].value,
			}
			$.post("/api/alts/unlink", link).done(function(data) {
				$(_this).parent().parent().parent().parent().parent().remove()
			}).fail(function(e) {
				console.log(e);
			});
		}
	}

	function rmtag(_this) {
		let a = [].filter.call(_this.attributes, function(at) {
			return /^data-/.test(at.name);
		});
		let tag = {
			_id: a[1].value,
			cid: a[2].value
		}
		$.post("/api/tags/rm", tag).done(function(data) {
			$(_this).parent().parent().remove()
		}).fail(function(e) {
			console.log(e);
		});
	}

	function rmintel(_this) {
		let a = [].filter.call(_this.attributes, function(at) {
			return /^data-/.test(at.name);
		});
		let intel = {
			_id: a[1].value,
			cid: a[2].value
		}
		$.post("/api/intel/rm", intel).done(function(data) {
			$(_this).parent().parent().remove()
		}).fail(function(e) {
			console.log(e);
		});
	}
</script>
<script type="text/javascript" src='js/character.js'></script>


</html>