<footer class="uk-section uk-section-small uk-text-center">
	<hr>
	<a href="https://github.com/Dracks977"  uk-tooltip="Add filter on members panel, Refacto component">Version 1.2.0</a> | For Dead Coalition</span></a>
</footer>