<!DOCTYPE html>
<html>
<head>
	<title>Three Eyed Ravens</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css">
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
<link rel="stylesheet" type="text/css" href="css/character.css">
<link rel="stylesheet" type="text/css" href="css/members.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<body>	
	<header id="top-head" class="uk-position-fixed">
		<div class="uk-container uk-container-expand uk-background-secondary">
			<nav class="uk-navbar uk-light" data-uk-navbar="mode:click">
				<div class="uk-navbar-left">
					<a class="uk-navbar-item uk-logo" href="/">Three Eyed Ravens</a>
				</div>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
						<li>
							<a href="#" data-uk-icon="icon:user"><%= user.name %><div style="width: 1em"></div></a>
							<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li><a href="/Logout"><span data-uk-icon="icon: sign-out"></span> Logout</a></li>
								</ul>
							</div>
						</li>
						<li><a href="/members" data-uk-icon="icon: cog">Members access<div style="width: 1em"></div></a></li>
						<% if (5 <= user.role) { %>
						<li><a href="/logs" data-uk-icon="icon: history">Logs<div style="width: 1em"></div></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<aside id="left-col" class="uk-light uk-visible@m">
		<div class="bar-content uk-position-relative">
			<ul class="uk-nav-default" data-uk-nav>
				<h4>Remember</h4>
				<li class="uk-nav-header">Waiting</li>
				<li class="uk-parent">No visibility - Can't read anything</li>
				<hr>
				<li class="uk-nav-header">Public</li>
				<li class="uk-parent" uk-tooltip="<i>Intel and tags can be read  by RECRUITERS and higher ranks</i>">For recruiters, and recruitment purposes - Adding /Updating char link and Blacklist</li>
				<hr>
				<li class="uk-nav-header">Private</li>
				<li class="uk-parent" uk-tooltip="<i>Intel and tags can be read by CORP DIRECTORS and above ranks. 
				CANNOT be read by RECRUITERS and lower ranks</i>">For directors, maintaining a blacklist purposes and related Corp dramas</li>
				<hr>
				<li class="uk-nav-header">Secret</li>
				<li class="uk-parent" uk-tooltip="<i>Intel and tags can be read by CORP CEO and above ranks. 
				CANNOT be read by DIRECTORS and lower ranks</i>">For CEOs -  Shareable intel about coalition drama, intelligence ...</li>
				<hr>
				<li class="uk-nav-header">Top secret</li>
				<li class="uk-parent" uk-tooltip="<i>Intel and Tags are allowed to be read only by intelligence officers and above ranks. Corp CEOs, DIRECTORS and RECRUITERS have no access</i>">For people working intel - sensible data and links</li>
				<hr>
				<li class="uk-nav-header">Extremely Secret</li>
				<li class="uk-parent" uk-tooltip="<i>ask Sort ,  IT service or head of Intel they're the only ones who can read them</i>">Intel only given in a "need to know" basis. else kept secret in there</li>
			</ul>
		</div>
	</aside>

	<div id="modal-center" class="uk-flex-top" uk-modal>
		<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

			<button class="uk-modal-close-default" type="button" uk-close></button>

			<form >
				<fieldset class="uk-fieldset">

					<legend id="mname" class="uk-legend uk-text-center">Legend</legend>

					<div class="uk-margin">
						<select id="msel" class="uk-select">
							<% if (1 < user.role) { -%>
							<option value="0">Waiting</option>
							<option value="1">Public</option>
							<% } if (2 < user.role) { -%>
							<option value="2">Private</option>
							<% } if (3 < user.role) { %>
							<option value="3">Secret</option>
							<% } if (4 < user.role) { %>
							<option value="4">Top Secret</option>
							<% } if (5 <= user.role) { %>
							<option value="5">Extremely Secret</option>
							<% } %>
						</select>
					</div>
					<a id="msub" class="uk-button uk-button-default uk-width-1-1">Submit</a>
					<div id="errorrole" class="uk-alert-danger" style="display: none;" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>Damn, it's a bug. quickly contact the administrator</p>
					</div>
				</fieldset>
			</form>

		</div>
	</div>

	<!-- /LEFT BAR -->

	<div id="content" data-uk-height-viewport="expand: true">
		<div class="uk-container uk-container-expand">


			<table id="table_id" class="hover row-border">
				<thead>
					<tr>
						<th>Name</th>
						<th>Role</th>
						<th>vide xD</th>
						<th>Corp</th>
						<th>alliance</th>
						<th>Action</th>
					</tr>
				</thead>
			</table>

			<footer class="uk-section uk-section-small uk-text-center">
				<hr>
				<a href="https://github.com/Dracks977"  uk-tooltip="Add Standardised Tag">Version 1.1.1</a> | For Dead Coalition</span></a>
			</footer>
		</div>
	</div>
	<!-- /CONTENT -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit-icons.min.js"></script>

<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var table = $('#table_id').DataTable({
			ordering: true,
			ajax: {
				url: '/api/members/get',
				type: 'POST'
			},
			serverSide: true,
			columns: [
			{'data': 'name'},
			{'data': 'role'},
			{'data': '_id'},
			{'data': 'corp'},
			{'data': 'alliance'},
			{'data': 'action'},
			],
			columnDefs: [{
				targets: 2,
				visible: false
			},
			{
				targets: -1,
				data: 1,
				render: function(data, type, row, meta) {
					let o = {
						"Waiting": 0,
						"Public": 1,
						"Private": 2,
						"Secret": 3,
						"Top secret": 4,
						"Extremely Secret": 5,
						"IT Developer": 6
					}
					if ('<%= user.role %>' != 1 && o[row.role] < '<%= user.role %>' || '<%= user.role %>' >= 5)
						return '<button class="uk-button uk-button-secondary">Change visibility</button>'
					else
						return '<button disabled class="uk-button uk-button-secondary">Change visibility</button>'
				}
			}
			],
		});
		$('#table_id tbody').on('click', 'button', function() {
			let data = table.row($(this).parents('tr')).data();
			$("#mname").text("Change " + data.name + " visibility")
			$("#msub").click(function() {
				let o = {
					_id: data._id,
					role: $("#msel").val()
				}
				$.post("/api/members/role", o).done(function(data) {
					UIkit.modal($('#modal-center')).hide();
					location.reload();
				}).fail(function(e) {
					$("#errorrole").removeAttr("style");
				});
			})
			UIkit.modal($('#modal-center')).show();
		});
	});
</script>


</html>