<!DOCTYPE HTML>
<html lang="en" >
<head>
	<title>Under review</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	
	
	<link href="css/ionicons.css" rel="stylesheet">
		
	<link href="css/styles.css" rel="stylesheet">
	
	<link href="css/responsive.css" rel="stylesheet">
	
</head>
<body style="background-image:url(https://jolstatic.fr/www/captures/108/1/108091.jpg); background-size: auto; background-repeat: no-repeat;">
	
	<div class="main-area center-text" >
		
		<div class="display-table" style="margin: 10px">
			<div style="color: white;margin-left: auto; margin-right: auto;width: 30%; text-align: center;vertical-align: middle; margin-top: 50vh;transform: translateY(-50%);" class="display-table-cell">
				<h1 class="title font-white" style="font-size: 3em"><b>Your account is under review.</b></h1>
				<p class="desc font-white" style="font-size: 1.5em">You're a Corp director ? Contact your CEO to get your account activated.</p>
				<p class="desc font-white" style="font-size: 1.5em">You're a CEO ? contact Meyiah on discord to get your account activated</p>
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
	
</body>
</html>